.who{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    place-items: center;
    /* align-items: start; */
    text-align: left;
}
.who .badge{
    margin: 0 0 20px 0;
}

.who-head h1{
    /* width: 100%; */
    font-size: clamp(1.5em,5vw,2em);
    line-height: 1.25;
}

.who-text p{
    padding: 20px;
font-size: 17px;
line-height: unset;
}

.partner{
    

   & .marquee {
      height: auto;

      & li {
        
        all: unset !important;
        transition: all 0.5s ease-in;

       & svg{
          width: 150px;
          height: unset;
          margin-block: 15px;
        }
      }
    }
  }