.platHead {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
.platimg{
    width: 100%;  
}
}

.plattext {
    text-align: left;
    width: fit-content;

    h2 {
        padding: 0;
    }
}

.platimg {
    width: 60%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

.platList {
    min-height: 100vh;

    h2 {
        padding-inline: 10%;
    }

    .list {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
        margin-block: 10vh;
        padding-block: 5vh;

        .subtext {
            text-align: left;
        }

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
    }
}

.info-banner {
    margin-block: 5vh;

    h2 {
        padding-inline: 10%;
        position: relative;
  
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          translate: -50%;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background-image: radial-gradient(
            circle,
            var(--accent) 1px,
            var(--accent) 1px,
            transparent 1px,
            transparent 100%
          );
          background-repeat: repeat;
          background-position: left center;
          background-size: 8px 8px;
          mask-image: radial-gradient(70% 100%, rgb(0, 0, 0), transparent 70%);
          opacity: 0.5;
          z-index: -1;
          animation: reveal 10s ease forwards;
        }
      }

    p {
        max-width: 75ch;
    }
}


@media (max-width: 1200px) {
    .platHead{
        flex-direction: column-reverse;
    }
    .plattext{
        text-align: center;
        text-align: -webkit-center;
        align-self: center;
    }
    
    .platList {
        .list {
            flex-direction: column-reverse;

            &:nth-of-type(even) {
                flex-direction: column-reverse;
            }
        }
    }

    .platimg {
        width: 80%;
        align-self: center;
    }

    .subtext{
        align-self: center;
        h3 {
        text-align: center;
        text-align: -webkit-center;
    }
}
}

@media (max-width: 700px) {

    .platimg {
        width: 100%;
    }

    .info-banner h2 {
            padding-inline: 5%;
        }
        .platList h2 {
            padding-inline: 5%;
        }
      
}