:root {
  --text-color: hsl(0, 0%, 50%);
  --highlight-color: hsl(0, 0%, 90%);
  --light-border: hsla(0, 0%, 75%, 0.3);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.badge {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px var(--text-color) solid;
  border-radius: 20px;
  padding: 5px 25px;
  margin-block: 2.5vh;
  place-self: center;
}
.badge:hover {
  box-shadow: 0 0 10px -5px var(--text-color);
}

.hero-h1 {
  font-size: clamp(2em, 5vw, 3em);
  padding-inline: 7vw;
  background-image: linear-gradient(125deg, hsla(0, 0%, 100%, 0.8) 0%, hsl(0, 0%, 50%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero-h2 {
  color: var(--text-color);
  padding-inline: 10vw;
  font-size: clamp(0.5em, 3vw, 1.2em);
}

.highlight {
  color: var(--highlight-color);
}

.primary-btn {
  padding: 10px 20px;
  margin-block: 2.5vh;
}

.future {
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
}

.future-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  place-items: center;
  align-items: stretch;
}

.future-listbox {
  width: 100%;
}

.listbox {
  display: grid;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  perspective: 1500px;
}
.listbox li {
  list-style: none;
  width: 150px;
  padding: 40px 10px;
  outline: 2px var(--light-border) solid;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(250, 235, 215, 0.1019607843);
  background: linear-gradient(125deg, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.262));
  transform-origin: center;
  transition: all 0.5s ease-in-out;
}
.listbox li:hover {
  transform: translateZ(100px);
  z-index: 2;
}

.future-text {
  width: 45ch;
  margin: 0 auto;
}

.transform {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 5px 10px -15px hsl(0, 0%, 5%);
}
.transform .transform-textbox {
  text-align: -webkit-center;
}
.transform .hex-box {
  width: 100%;
  min-height: 80vh;
  margin-block: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transform .hex-box .hex-list {
  --s: 200px;
  --g: 15px;
  display: grid;
}
.transform .hex-box .hex-list li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border-block: 1px solid var(--light-border);
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  transform: translate(var(--_x, 0), var(--_y, 0));
  list-style: none;
  outline: 2px hsla(0, 0%, 75%, 0.3) solid;
  background: linear-gradient(125deg, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.262));
}
.transform .hex-box .hex-list li:nth-child(1) {
  --_y: calc(-100% - var(--g));
}
.transform .hex-box .hex-list li:nth-child(7) {
  --_y: calc(100% + var(--g));
}
.transform .hex-box .hex-list li:nth-child(3), .transform .hex-box .hex-list li:nth-child(5) {
  --_x: calc(-75% - 0.87 * var(--g));
}
.transform .hex-box .hex-list li:nth-child(4), .transform .hex-box .hex-list li:nth-child(6) {
  --_x: calc(75% + 0.87 * var(--g));
}
.transform .hex-box .hex-list li:nth-child(3), .transform .hex-box .hex-list li:nth-child(4) {
  --_y: calc(-50% - 0.5 * var(--g));
}
.transform .hex-box .hex-list li:nth-child(5), .transform .hex-box .hex-list li:nth-child(6) {
  --_y: calc(50% + 0.5 * var(--g));
}/*# sourceMappingURL=Home.css.map */