:root{
    --text-color: hsl(0, 0%, 50%);
--highlight-color: hsl(0, 0%, 90%);

}


.hero {
  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
.badge {
  width: fit-content;
  border: 1px var(--text-color) solid;
  border-radius: 20px;
  padding: 5px 25px;

  &:hover {
    box-shadow: 0 0 10px -5px var(--text-color);
  }
}
.hero-h1{
    font-size: clamp(2em, 5vw, 3em);
    padding-inline: 7vw;
    background-image: linear-gradient(125deg, hsla(0, 0%, 100%, 0.8) 0%, hsl(0, 0%, 50%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.hero-h2{
    color: var(--text-color);
    padding-inline: 10vw;
    font-size: clamp(0.5em, 3vw, 1.2em);
}
.highlight{
color: var(--highlight-color);
}
.primary-btn{
padding: 10px 20px;
}
