@use "sass:math";

.textbox {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.hero-h2 {
  color: var(--text-color);
  padding-inline: 10vw;
  font-size: clamp(0.5em, 3vw, 1.2em);
}
.badge {
  width: fit-content;
  border: 1px var(--text-color) solid;
  border-radius: 20px;
  padding: 5px 25px;
  margin-block: 2.5vh;
  place-self: center;

  &:hover {
    box-shadow: 0 0 10px -5px var(--text-color);
  }
}
.hero {
  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

h1 {
  font-size: clamp(2em, 5vw, 3em);
  padding-inline: 7vw;
  background-image: linear-gradient(
    125deg,
    hsla(0, 0%, 100%, 0.8) 0%,
    hsl(0, 0%, 50%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.highlight {
  color: var(--highlight-color);
}
.primary-btn {
  padding: 10px 20px;
  margin-block: 2.5vh;
}

//***** FUTURE SECTION *****

.future {
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
}

.future-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  place-items: center;
  align-items: stretch;
}
.future-listbox {
  width: 100%;
}

.listbox {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-auto-rows: 150px;
  // grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  perspective: 1500px;

  // @for $i from 1 through 6 {
  //     $c: $i * 60;
  //     $r: $i * 25;
  //     $rotation-angley: -25deg * math.floor(($i - 1) % 2) + 25deg;
  //      // Calculate rotation angle based on index
  //      $rotation-anglex: 25deg * floor(($i - 1) / 2) + -25deg;
  //      $rotation-anglez: (math.floor(math.random() * 10deg - 5deg));

  // li:nth-child(#{$i}){
  li {
    list-style: none;
    width: 150px;
    padding: 40px 10px;
    // outline: 2px unquote("hsla(#{$c}, 60%, 60%, 0.4)") solid;
    outline: 2px var(--light-border) solid;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: #faebd71a;
    background: linear-gradient(
      125deg,
      rgba(255, 255, 255, 0.075) 40%,
      rgba(255, 255, 255, 0.262)
    );
    // transform: rotatey($rotation-angley) rotateX($rotation-anglex) rotateZ($rotation-anglez);
    transform-origin: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: translateZ(100px);
      z-index: 2;
    }
  }
}
// }

.future-text {
  width: 45ch;
  margin: 0 auto;
}

//***** Transform SECTION *****

.transform {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 0 0 100px 100px;
  box-shadow: 0px 20px 25px -15px hsl(0, 0%, 5%);

  .transform-textbox {
    text-align: -webkit-center;
  }

  .hex-box {
    width: 100%;
    min-height: 80vh;
    margin-block: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //     display: grid;
    // row-gap: 20px;
    // column-gap: 20px;
    // grid-auto-rows: 150px;
    // // grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    // grid-template-columns: repeat(3, minmax(150px, 1fr));
    // perspective: 1500px;

    .hex-list {
      --s: 200px;
      --g: 15px;
      display: grid;

      li {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        border-block: 1px solid var(--light-border);
        grid-area: 1/1;
        width: var(--s);
        aspect-ratio: 1.15;
        object-fit: cover;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        transform: translate(var(--_x, 0), var(--_y, 0));

        &:nth-child(1) {
          --_y: calc(-100% - var(--g));
        }
        &:nth-child(7) {
          --_y: calc(100% + var(--g));
        }
        &:nth-child(3),
        &:nth-child(5) {
          --_x: calc(-75% - 0.87 * var(--g));
        }
        &:nth-child(4),
        &:nth-child(6) {
          --_x: calc(75% + 0.87 * var(--g));
        }
        &:nth-child(3),
        &:nth-child(4) {
          --_y: calc(-50% - 0.5 * var(--g));
        }
        &:nth-child(5),
        &:nth-child(6) {
          --_y: calc(50% + 0.5 * var(--g));
        }
        list-style: none;
        outline: 2px hsla(0, 0%, 75%, 0.3) solid;
        background: linear-gradient(
          125deg,
          rgba(255, 255, 255, 0.075) 40%,
          rgba(255, 255, 255, 0.262)
        );
      }

      // width: 150px;
      // padding: 40px 10px;
      // // outline: 2px unquote("hsla(#{$c}, 60%, 60%, 0.4)") solid;

      // border-radius: 10px;
      // backdrop-filter: blur(5px);
      // background: #faebd71a;

      // // transform: rotatey($rotation-angley) rotateX($rotation-anglex) rotateZ($rotation-anglez);
      // transform-origin: center;
      // transition: all 0.5s ease-in-out;

      // &:hover {
      //   transform: translateZ(100px);
      //   z-index: 2;
      // }
    }
  }
}

//***** banner SECTION *****

.info-banner {
  width: 100%;
  height: 75vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202022;
  z-index: -1;
  // backdrop-filter: blur(10px);

  &::after {
    content: "";
    width: 100%;
    height: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-color: inherit;
  }

  .glow2 {
    width: 70%;
    height: 100px;
    position: absolute;
    bottom: -30%;
    left: 50%;
    translate: -50% -50%;
    // clip-path: circle(50%);
    border-radius: 50%;
    background-color: hsla(321, 100%, 75%, 0.45);
    filter: blur(50px) drop-shadow(0px 42px 40px hsla(321, 100%, 75%, 0.35));
  }

  .glow {
    width: 70%;
    height: 100px;
    position: absolute;
    top: -15%;
    left: 50%;
    translate: -50% -50%;
    // clip-path: circle(50%);
    border-radius: 50%;
    background-color: hsla(240, 100%, 75%, 0.45);
    filter: blur(50px) drop-shadow(0px 42px 40px hsla(240, 100%, 75%, 0.35));
  }
}

//***** Modern SECTION *****

.modern {
  background-color: var(--bg-color);
  border-radius: 100px 100px 0 0;
  box-shadow: 0px -20px 25px -15px hsl(0, 0%, 5%);

  .image {
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
    margin-block: 5vh;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // background: radial-gradient(circle at 50% 0%, transparent 0%, #32323275 70%, var(--bg-color) 95%);
      background: linear-gradient(180deg, transparent 0%, #24242466 40%, var(--bg-color) 95%);
      z-index: 2;
    }

    img {
      width: 100%;

      &::before {
        content: "";
      }
    }
  }
}

.banner2{
  background:  radial-gradient(circle at 50% 0%, #3232326a 0%, #323232c2 70%, var(--bg-color) 90%), url("/public/grid.png");
}

.feature{
  .ft-listbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px auto 0;
    position: relative;
    // width: 900px;
    list-style: none;

    li{
      display: flex;
      place-items: center;
      height: 170px;
    padding: 25px 32px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    width: 350px;
    border: #ffffff07 1px solid;
    background: radial-gradient(circle at 25% 0%, transparent 0%, #32323275 70%, var(--bg-color) 95%);
    transition: all 0.5s ease-in ;

    &:hover{
      background: radial-gradient(circle at 25% 0%, transparent 0%, #9a515175 70%, var(--bg-color) 95%);
    }
    
    }
  }
}
