@use "sass:math";
// $randomMin:10; // Minimum value for random range
// $randomMax: 100; // Maximum value for random range
// @mixin randomTransformOrigin {
//   $randomX: math.floor(calc(math.random($randomMin) / 10)) * 10; // Generate random X value in steps of 10
//   $randomY: math.floor(calc(math.random($randomMin) / 10)) * 10; // Generate random Y value in steps of 10
//   transform-origin: unquote("#{$randomX}% #{$randomY}%"); // Set transform origin using the rounded values
// }
.tEffect {
  position: absolute;
  background-color: aquamarine;
  inset: 0;
  z-index: 50;
  overflow: hidden;

  & h1 {
    all: unset;
    color: white;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
  }
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #323232;
  z-index: 60;
  // transform-origin: right;
  //  @include randomTransformOrigin;
}
.slide-out {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #323232;
  z-index: 60;
  //  @include randomTransformOrigin;
}

// accordion*******
.accordion {
  -webkit-box-shadow: 0px 13px 23px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 13px 23px -13px rgba(0, 0, 0, 0.5);
  width: 100%;
  background-color: transparent;
  //    margin: auto;
  //    margin-top: 50px;
}

.title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--highlight-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  font-weight: lighter;
  position: relative;
  padding: 10px;
  z-index: 20;
  border-radius: 4px;
  margin-top: 2px;
  transition: all 0.2s ease-in;
}

.title-text {
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

.title:active {
  background-color: rgba(0, 0, 0, 0.35);
}

.content {
  height: 31px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: -30px;
  text-align: left;
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.content-text {
  padding: 25px 15px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all 0.2s ease-in;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all 0.8s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.6s cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.fa-rotate-180 {
  color: rgba(255, 255, 255, 1);
}

.arrow-wrapper {
  position: absolute;
  margin-left: 375px;
}

// accordion end******

//velocity

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  width: calc(50vw - 5px);
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsla(0, 0%, 0%, 0),
    hsl(0, 0%, 0%) 30%,
    hsl(0, 0%, 0%) 70%,
    hsla(0, 0%, 0%, 0)
  );
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  width: 50vw;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    svg {
      width: 100px;
    }
  }
}

//spotlight button
.base-input {
  transition: border-color 0.5s;
  outline: none;
  position: relative;
}
.overlay-input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(193, 35, 146);
  border-radius: inherit;
  background-color: transparent;
  // padding: 0.875rem;
  opacity: 0;
  transition: opacity 0.5s;
}

//////// Tabsss \\\\\\\
///

.vertical {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
}

.Tab {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    margin: 0 1rem 0 0;
    padding: 0;
    text-align: left;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      color: var(--accent);
      transition: all 0.25s ease-in;
      position: relative;

      &:hover,
      &:focus {
        outline: none;
        border: none;
      }

      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 0;
        height: 100%;
        border-radius: 2px;
        border-right: 3px solid var(--accent);
        animation: tabActive 0.5s ease-in-out;
        transform-origin: center;
      }
    }

    &:hover,
    &:focus {
      outline: none;
      border: none;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }

  &__tab-panel {
    display: none;
    position: relative;

    &--selected {
      width: 80%;
      // height: 600px;
      // overflow: hidden;
      padding: 1em 2em;
      display: block;
      background: var(--bg-light);
      border-radius: 10px;
      text-align: left;

      .panelImage {
        height: 350px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 6px #00000050;
        // animation: PanelImageActive 0.35s ease-out forwards;
        // animation: tabActive 0.5s ease-in-out;
        animation: tabPanelActive 0.35s ease-in-out;
        transform-origin: top left;
      }

      p {
        animation: tabPanelActive 0.35s ease-in-out;
        transform-origin: top;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 120%;
      height: 110%;
      pointer-events: none;
      background-image: radial-gradient(
        circle,
        var(--accent) 1px,
        var(--accent) 1px,
        transparent 1px,
        transparent 100%
      );
      background-repeat: repeat;
      background-position: left center;
      background-size: 8px 8px;
      mask-image: radial-gradient(100% 110%, rgb(0, 0, 0), transparent 50%);
      opacity: 0.5;
      z-index: -1;
      animation: reveal 5s ease forwards;
    }
  }
}


@keyframes tabActive {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes tabPanelActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PanelImageActive {
  0% {
    translate: 10% 10%;
    scale: 0.7;
  }
  100% {
    translate: 5% 5%;
    scale: 1;
  }
}
@media (max-width: 1100px) {
  .parallax {
    width: calc(100vw - 5px);
  }

  .parallax span {
    width: 100vw;
    // margin-right: 0.5em;
    ul {
      svg {
        width: 70px;
      }
    }
  }
}
