/* 
[g-component],
[g-ref] {
  padding: 5px;
  border: 1px solid #343434;
  border-radius: 2px;
}

.button {
  width: 80px;
  height: 80px;
  background: #D0021B;
  border: none;
  border-radius: 50%;
  margin: 0 25px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
} */


.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;

	border-radius: 27px;

	color: #fff;
	font: 700 14px/60px ;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;

	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}

.liquid-button path {
  cursor: pointer;
  
}
svg.liquid-button {
all: unset;
}