footer {
    flex-wrap: wrap;
    padding: 2vh 10%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    position: relative;
    width: 100%;

    svg {
      fill: var(--text-color);
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
    
    svg:hover {
      transform: scale(1.1);
      fill: var(--highlight-color);
    }
  
  }
  
.bottom {
    padding-inline: 16px;
    gap: 2em;
    color: var(--text-color);
    width: fit-content;
    display: flex;
    
  }
  
  .ftrtxt {
    font-size: 13px;
    text-align: center;

    h6 {
      opacity: 0.6;
    }
  }
  

  .ftrlinks {
    animation: jump 10s ease-in infinite ;

    @for $i from 1 through 3{
      &:nth-child(#{$i}){
        animation-delay: unquote("#{2 * $i}s");
      }
    }
  }
  
  hr {
    // margin-top: 1em;
    // margin-bottom: 1em;
    flex-basis: 100%;
    background-image: linear-gradient(90deg, transparent, var(--text-color), transparent);
    height: 1px;
    border: none;
  }
  
 
  #start {
    margin-left: auto;
  }
  
  #end {
    margin-right: auto;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0vh);
    }
    50% {
        transform: translateY(2.5vh);
    }
    100% {
        transform: translateY(0vh);
      }
  }
  